body{
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

h1{
  font-family: "Bubbler One", sans-serif;
  font-size: 9em;
  letter-spacing: 18px;
  margin:  5% auto 5% auto ;
  text-align: center;
}

#listWrapper{
  text-align: center;
  width: 80%;
  margin: auto;
}

input{
  width: 50%;
  outline: none;
  border: none;
  border-bottom: solid black 1px;
  font-size: 2em;
  margin-right: 2%;
  font-family: "Source Sans Pro", sans-serif;
}

#innerWrapper{
  width: 45%;
  margin: auto;
}

button{
  background-color: black;
  padding: .75% 1.5%;
  color: white;
  border: none;
  outline: none;
}

button:hover{
  cursor: pointer;
}

ul{
  margin: none;
}

li{
  width: 80%;
  list-style: none;
  text-align: left;
  font-size: 1.65em;
  margin: none;
}

#newLi:hover{
  text-decoration:line-through;
  cursor: pointer;
  color: red;

}
